body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Primary: #373F51 */
/* Secondary: #58A4B0 */
/* light: #D8DBE2 */
/* medium #A9BCD0 */
/* dark: #1B1B1E */