body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.checkout-Block {
  width: 100%;
}

.cart-add-minus {
  width: 50%;
}

.img-singleProduct {
  max-width: 100%;
}

.starReviews-width {
  width: 40%;
}
