#routes {
  padding-left: 30px;
}

body {
  font-family: sans-serif;
  padding-bottom: 70px;
  background-color: #a9bcd0;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.checkout-Block {
  width: 100%;
}

.cart-add-minus {
  width: 50%;
}

.img-singleProduct {
  max-width: 100%;
}

.starReviews-width {
  width: 40%;
}

.returning-customers-width .new-customers-width {
  width: 70%;
}

.divider-line {
  border-left: 2px solid #c5cbd5;
  margin-top: 0;
  height: 150px;
}

.cia-divider {
  width: 170px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.short-input-shipping {
  width: 30%;
}

.email-input-shipping {
  width: 50%;
}
.address-input-shipping {
  width: 70%;
}

.card-image {
  object-fit: contain;
}
